
<h1>Show page Vendor </h1>
<h1> <%= @vendor_sweet.vendor_id %> </h1>
<h1> <%= @vendor_sweet.sweet_id %> </h1>
<h1> <%= @vendor_sweet.price %> </h1>
  
<%= link_to 'Go back', vendor_sweets_path %> <br>
