<h1>All Vendors</h1>

<ul>
  <% @vendors.each do |vendor| %>
    <li><%= link_to  vendor.name, vendor_path(vendor.id) %></li>
  <% end  %>
</ul>

<%= link_to  "See all Sweets", sweets_path %>

<br><br><br>

<%= link_to  "Link Vendor to Sweet", new_vendor_sweet_path %>