<h1>All Vendors</h1>
<h5>The average price for all sweets: <%=@sweet_average_price  %> </h5>
<ul>
  <% @vendors.each do |vendor| %>
    <li><%=link_to vendor.name, vendor %> </li>
    <li>The average price for each vendor: <%=@vendor_average_price%></li>
  <% end  %>
</ul>
