<h1>All Vendors</h1>
<h3>Average Price of ALL Sweets: <%= %></h3>
<ul>
  <% @vendors.each do |vendor| %>
    <li><%= link_to vendor.name, vendor_path(vendor) %> | Average Price of Sweets: $<%= vendor.average_price if vendor.vendor_sweets %></li>
  <% end  %>
</ul>
