<h1>All Sweets</h1>

<ul>
  <% @sweets.each do |sweet| %>
    <li> <%= link_to  sweet.name, sweet_path(sweet.id) %></li>
  <% end  %>
</ul>

<h5><%= link_to  "Assign a Vendor a Sweet", new_vendor_sweet_path %></h5>
